html {
  --background: #eee;
  --background-light: #f5f5f5;
  --white: #fff;
  --black: #222;
  --primary: #55b;
  --border: #bbb;
  --shadow: #aaa;

  --radius: 8px;
  --gap: 8px;
  --gap-sm: 4px;
  --gap-lg: 16px;
  
  --font-size: 16px;
  --font-family: 'Courier New', Courier, monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--background);
}

*{
  box-sizing: border-box;
}

.transition {
  transition: ease 200ms;
}

button {
  text-transform: capitalize;
}

.ButtonGroup {
  display: flex;
}

.ButtonGroup button{
  background: transparent;
  border: 1px solid var(--border);
  cursor: pointer;
  width: max-content;
  height: 2em;
  min-width: 3em;
}

.ButtonGroup button.selected{
  background: var(--primary);
  color: var(--white);
}

.ButtonGroup button:first-of-type{
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-right: none;
}


.ButtonGroup button:last-of-type{
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-left: none;
}